<%= @player_1 %> vs. <%= @player_2 %><br>

<%= @player_2 %>'s hp to be <%= $player_2.hit_points %> <br>

<%= @player_1 %> attacks <%= @player_2 %> 

<form action="/attack">
  <input type="submit" value="Attack">
</form> 

