<%= @game.player_1.name %> vs. <%= @game.player_2.name %><br>

<%= @game.player_2.name %>'s hp to be <%= @game.player_2.hit_points %> <br>

<%= @game.player_1.name %> attacks <%= @game.player_2.name %> 

<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP

<form action="/attack">
  <input type="submit" value="Attack">
</form> 

